.container{
	margin-top:10px;
}
.name{
	margin:5px auto 20px;
}
.details{
	margin: 60px auto auto;
}
.details p{
	margin:5px auto;
}
.education{
	margin-top:20px;
}
.education ul{
	list-style: "*";
    padding: 10px;
}
}
.skills{
	margin:20px auto;
}